[submodule "docs/Cyberinfrastructure/UIEnhancements/UIRequirements"]
	path = docs/Cyberinfrastructure/UIEnhancements/UIRequirements
	url = git@github.com:RATESResearch/UIRequirements
[submodule "docs/Cyberinfrastructure/UIEnhancements/UIPreDevelopment"]
	path = docs/Cyberinfrastructure/UIEnhancements/UIPreDevelopment
	url = git@github.com:RATESResearch/UIPreDevelopment
[submodule "docs/Cyberinfrastructure/UIImplementation"]
	path = docs/Cyberinfrastructure/UIImplementation
	url = git@github.com:RATESResearch/UIImplementation
