[submodule "docs/Cyberinfrastructure/UIEnhancements/UIRequirements"]
	path = docs/Cyberinfrastructure/UIEnhancements/UIRequirements
	url = git@github.com:RATESResearch/UIRequirements
[submodule "docs/Cyberinfrastructure/UIEnhancements/UIPreDevelopment"]
	path = docs/Cyberinfrastructure/UIEnhancements/UIPreDevelopment
	url = git@github.com:RATESResearch/UIPreDevelopment
[submodule "docs/Cyberinfrastructure/UIImplementation"]
	path = docs/Cyberinfrastructure/UIEnhancements/UIImplementation
	url = git@github.com:RATESResearch/UIImplementation
[submodule "docs/Cyberinfrastructure/UIModelIntegration/TieredModeling"]
	path = docs/Cyberinfrastructure/UIModelIntegration/TieredModeling
	url = git@github.com:RATESResearch/TieredModeling
[submodule "docs/Cyberinfrastructure/UIModelIntegration/Tier1/Tier1Requirements"]
	path = docs/Cyberinfrastructure/UIModelIntegration/Tier1/Tier1Requirements
	url = git@github.com:RATESResearch/Tier1Requirements
[submodule "docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Deployment"]
	path = docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Deployment
	url = git@github.com:RATESResearch/Tier2Deployment.git
[submodule "docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Requirements"]
	path = docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Requirements
	url = git@github.com:RATESResearch/Tier2Requirements
[submodule "docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Implementation"]
	path = docs/Cyberinfrastructure/UIModelIntegration/Tier2/Tier2Implementation
	url = git@github.com:RATESResearch/Tier2Implementation
[submodule "docs/RegionalHandH/DataCollection/SurveyPrep/SurveyManual"]
	path = docs/RegionalHandH/DataCollection/SurveyPrep/SurveyManual
	url = git@github.com:RATESResearch/SurveyManual
[submodule "docs/RegionalHandH/DataCollection/DataDictionary/GeoDataModel"]
	path = docs/RegionalHandH/DataCollection/DataDictionary/GeoDataModel
	url = git@github.com:RATESResearch/GeoDataModel
