invoke
# invocations
# sphinx==2.2
sphinx
Jinja2<3.1
sphinx_rtd_theme
sphinxcontrib.bibtex
hieroglyph
sphinxcontrib.plantuml
python-dotenv
sphinxcontrib-mermaid
git+https://github.com/RATESResearch/Spyce
